
#header{
  width: 100%;
  top: 0;
  right: 0;
  background-color: rgb(102, 113, 130);
  font-size: 20px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: white;
  box-shadow: 5px 5px 10px gray;
}
#header ul {
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}
#header ul li {
  display: inline;
  width:10% ;
  float: right;
  text-align: center;
  margin-top: .5%;
}
.whitebackground{
	background-color: white;
	overflow: auto;

}
body{
	background-color: rgb(232, 238, 242);
	margin:0px;
	top:0;
}
.centered{
	margin: 0 auto;
}
#mainthingys{
	width: 70%;
}
a:link{
	color:white;
	background-color:transparent;
	text-decoration: none;
}
a:visited{
	color:white;
	background-color:transparent;
	text-decoration: none;
}
a:hover{
	color: rgb(201, 201, 201);
	background-color: transparent;
	text-decoration: underline;
}
#topbar{
	float: left;
	padding-bottom: none;
	margin:0px;
	width: 100%;
}
#topbar img{
	width:100%;
}

/*TIMELINE BELOW*/

* {
  box-sizing: border-box;
}



/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  font-family: 'Alegreya Sans SC', sans-serif; 
  box-shadow: 5px 5px 10px gray;
}


.introduction {
	width: 94%;
	padding-left: 6%;
	padding-top: 2.5%;
  padding-bottom: 3%;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.pictures {
  width: 97%;
  margin-top:2%;
  margin-right:2%;
  margin-left: 2%;
  border-radius: 4px;
}

input[type=button] {
    background-color:rgb(34, 50, 122);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 15px;
    float: left;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
    width:97%;

}

/* When moving the mouse over the submit button, add a darker green color */
input[type=button]:hover {
    background-color:rgb(24, 36, 89);
}

.column {
    float: left;
    width: 33.33%;
}
