#header{
	width: 100%;
	top: 0;
	right: 0;
	background-color: #a0a0a0;
	font-size: 20px;
	font-family: 'Alegreya Sans SC', sans-serif;
	color: white;
	box-shadow: 5px 5px 10px gray;
}
#header ul {
	width: 100%;
	overflow: auto;
	margin: 0;
	padding: 0;
}
#header ul li {
	display: inline;
	width:10% ;
	float: right;
	text-align: center;
	margin-top: .5%;
}
.whitebackground{
	background-color: white;
	overflow: auto;

}
body{
	background-color: #d8d8d8;
	margin:0px;
	top:0;
}
.centered{
	margin: 0 auto;
}
#mainthingys{
	width: 70%;
}
a:link{
	color:white;
	background-color:transparent;
	text-decoration: none;
}
a:visited{
	color:white;
	background-color:transparent;
	text-decoration: none;
}
a:hover{
	color: rgb(201, 201, 201);
	background-color: transparent;
	text-decoration: underline;
}
#Welcome{
	float: left;
	padding-bottom: none;
	margin:0px;
	width: 100%;
}
#Welcome img{
	width:100%;
	float: left;
	overflow: none;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  width: 100%;
  margin: auto;
  float: center;
  padding: none;
}

.mySlides {
    width: 100%;
    float: center;
    padding: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 55%;
  padding: 16px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  margin-right: 10.75%;
  margin-left: 8.5%;

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(107,107,107,.5);

}

/* Caption text */
.captiontext {
  color: gray;
  font-size: 15px;
  padding: none;
  bottom: 8px;
  width: 100%;
  text-align: center;
  margin-top: none;
  font-family: 'Alegreya Sans SC', sans-serif;
}

/* Number text (1/3 etc) */
.numbertext {
  color: rgb(107, 107, 107);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#slideshow {
	float:center;
	padding-top: 2.5%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-bottom: none;
}
#dots {
	margin-top: none;
	padding-bottom: 2.5%;
}

/*Expirament on slideshow*/
.container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(99, 99, 99, .7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border: 1px;
  border-radius: 4px;
}

.container:hover  .overlay{
	height: 100%;
}

.text1 {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 30pt;
}

.image{
  border-color: gray;
  border-radius: 4px;
    box-shadow: 5px 5px 10px gray;
}

#Tessacowley{
  margin-top: .5%;
  margin-bottom: .5%;
  font-weight:900;
}