h2{
	color:gray;
	font-family: 'Special Elite', cursive;
	font-size: 100px;
	margin-bottom: 2%;
	padding-top: none;
	margin-top: 40px;
	margin-left: 5%;
}
#header{
	width: 100%;
	top: 0;
	right: 0;
	background-color: rgba(255,255,255,.7);
	font-size: 20px;
	font-family: 'Special Elite', cursive;
	color: gray;
}
#header ul {
	width: 100%;
	overflow: auto;
	margin: 0;
	padding: 0;
}
#header ul li {
	display: inline;
	width:15% ;
	float: right;
	text-align: center;
	margin-top: .5%;
}
body{
	background-image: url("symphony.png");
	margin:0px;
	top:0;
}
.centered{
	margin: 0 auto;
}
#mainthingys{
	width: 70%;
}
#Resume {
	margin-left: 5%;
	padding-left: 5%;
	float: left;
	width: 100%;
}
a:link{
	color:gray;
	background-color:transparent;
	text-decoration: none;
}
a:visited{
	color:gray;
	background-color:transparent;
	text-decoration: none;
}
a:hover{
	color: black;
	background-color: transparent;
	text-decoration: underline;
}
#topbar{
	float: left;
	padding-bottom: none;
	margin:0px;
	width: 100%;
}
#topbar img{
	width:100%;
}
#resumepicture img{
	width: 100%;
}
